#mapid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#addBtn {
    z-index: 10;
    margin-bottom: 10%;
    display: none;
    background: #ffb400;
    border: none;
}

#addBtn:active {
    background-color: #00e2ff;
    /* Green */
    color: white;
}

#logout {
    z-index: 10;
    float: right;
    background-color: #6b1d1d;
    color: white;
    margin-top: 3%;
}